{% extends "base.html" %}

{% block content %}

{{ form.errors }}

<form method="post" action="{% url 'login' %}">
	{% csrf_token %}
	<ul class="form-wrapper">
		<li class="form-row">
			{{ form.username.label_tag }}
			{{ form.username }}
		</li>
		<li class="form-row">
			{{ form.password.label_tag }}
			{{ form.password }}
		</li>
		<li class="form-row">
			<!-- TODO:: redirect to index? implement profile page? -->
			<button type="submit">Login</button>
		</li>
	</ul>
	<input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock %}
