/* Navigation */
.navigation {
  list-style: none;
  margin: 0 0 1em 0;
  
  background: forestgreen;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

a {
	text-decoration: none;
	color: forestgreen;
}

.book a {
	color: white;
}

.navigation a {
	text-decoration: none;
	display: block;
	padding: 1em;
	color: white;
}

.navigation a:hover {
	background: white;
	color: black;
}


/* System-wide style */
.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.container > * {
	flex: 1 100%;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding-left: 0;
}

.navigation .account {
	margin-left: auto;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 500px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
	text-align: center;
  }
}

.title {
	font-size: 2em;
	font-weight: bold;
}


/* Listing styles (Grid) */
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.flex-container.col {
	-webkit-flex-direction: column;
}

.flex-item {
	padding: 5px;
	height: auto;
	margin-top: 5px;
	margin-left: 10px;
	line-height: 20px;
	text-align: center;
	font-size: 1em;
}

/* book lists */
.flex-item.book {
	background: darkgreen;	
	width: 300px;
	color: white;
	line-height: 30px;
	padding: .3em;
	overflow: hidden;
}

.flex-item.book a {
	text-decoration: none;
	display: block;
	padding: 5% 0 0;
	margin: 0;
	color: white;
	height: 90%
}

.flex-item.book a:hover {
	background: forestgreen;
}


/* progress tags */
.flex-item.progress-tag {
	background: darkgreen;
	min-width: 150px;
	height: 40px;
	color: white;
	border: forestgreen;
	border-style: solid;
	border-width: .1em;
	line-height: 1.9em;
	padding: 0 3px 0 0;
}

.flex-item.progress-tag > span.progress-fill {
  display: block;
  height: 100%;
  background-color: forestgreen;
  position: relative;
  overflow: visible;
  white-space: nowrap;
  padding-left: 3px;
}


/* forms */
.form-wrapper {
	list-style-type: none;
	padding: 0;
	width: 50%;
	margin: auto;
}

.form-row {
	display: flex;
	justify-content: center;
	padding: .4em;
	margin: 0;
}

.form-row > input {
    padding: .5em;
	margin: 0 1em;
}

.form-row > button {
	background: forestgreen;
	max-width: 10em;
	color: white;
	border: 0;
	padding: 1em;
	margin-top: 0;
	flex: 3;
}

.form-row > button:hover {
	background: darkgreen;
	cursor: pointer;
}

.form-row > label {
	padding-top: .5em;
	flex: 1;
}

.form-row > input {
	flex: 2 50%;
}

.form-errors {
	background-color: #F8D6D9;
	color: #712228;
	padding: .5em;
	border-radius: 1em;
}

.form-errors ul {
	list-style: none;
}

/* messages */
ul.messages {
	list-style: none;
	margin: 0 .8em 0 0;
	-webkit-padding-start: 0;
}

ul.messages > li {
	width: 100%;
	text-align: center;
	padding: .4em;
	display: block;
	margin-block-start: 0;
	border-radius: 1em;
}

ul.messages > .success  {
	background: green;
	color: white;
}


