{% extends "base.html" %}

{% block content %}
<ul class="flex-container col">
	<li class="flex-item">
		<a href="{{ book.link }}">{{ book.name }}</a>
	</li>
	<li class="flex-item">
		{{ book.page_count }} pages
	</li>
	<li class="flex-item">
		Update your progress:<br />
		<form method="post" action="{% url 'books:update_book_progress' book.pk %}">
			{% csrf_token %}
			<ul class="form-wrapper">
				<li class="form-row">
					<label>{{ progress_form.pages_read.label }}:</label>
					{{ progress_form.pages_read }}
					<button type="sbumit">Update Progress</button>
				</li>
			</ul>
		</form>
	</li>
</ul>
{% endblock %}
